<%- include("component/edit_window", {}) %>

<div class="cpnt-highlight bg-red-300/10 fixed top-[99999px]"
     _="on mousemove halt" ></div>
<div class="cpnt-card"
_="
  init
    set :lastHovered to <body />
    set :highlight to first <.cpnt-highlight />

  on mousemove queue none
    set :lastHovered to target of event
    measure element :lastHovered top,left,bottom,right
    set :highlight's *top to top
    set *height of :highlight to (top - bottom) px
    set *right of :highlight to right
    set *width of :highlight to (left - right) px
"
>
    <h1><%= slug %></h1>
    <div class="cpnt-card__toolbar-wrapper relative  mb-sm"
    >
        <div class="cpnt-card__content block  bg-white"
             _="install Editable"
            >
            <% if (typeof content !== "undefined") { %>
                <%- content.trim() %>
            <% } else { %>
                <p>No content</p>
            <% } %>
        </div>
    </div>

    <button
        class="bg-slate-400 rounded-md px-2 py-1 block"
_="
on click
  call confirm('Are you sure you want to delete this card?')
  log the result
  if the result is false then halt end
  fetch `/card/<%= slug %>` { method: 'DELETE'}
"
    >Delete Card</button>
</div>

