<%- include("component/edit_window", {}) %>

<div class=""
     data-card="<%= slug %>"
     _="install Editable"
>
    <% if (typeof content !== "undefined") { %>
        <%- content.trim() %>
    <% } else { %>
        <p>No content</p>
    <% } %>
</div>
